﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron" style="background-color:#ffddcc;">
	<center><h1 style="color:#dd4455">MEDModern</h1>
	<h3 style="color:#dd4455">เว็บไซต์สำหรับจำหน่ายยา และผลิตภัณฑ์เพื่อสุขภาพ</h3>
	</cenetr>
</div>

<div class="row">
<h2 style="color:#6699aa">&nbsp&nbspMedecine</h2>
@foreach (var Med in Model.meds)
{
	<div class="row">
		<div class="col-md-5">
			<img src="~/images/@Med.Image" width=400 height=300>
		</div>
		
		<div class="col-md-6">
			<br /><br />
			<h3 style="color:#cc5566">@Med.Name</h3>
			<h4 style="color:#cc5566">ราคา  @Med.Price บาท
			@if(@Med.stock>=5){
				<a href="">สั่งซื้อ</a>
			}
			else if (@Med.stock <5){
				<a href="" p style="color: red" >ใกล้หมด</a>
			}
		</div>
	</div><br>
}
</div>